.breadcrumb-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	width: 65%;
	margin: 0 auto;
  
}

.breadcrumb-tab-item {
	cursor: pointer;
	padding: 8px 12px;
	color: rgba(17, 2, 2, 0.763);
	transition: color 0.3s ease;
} 
.breadcrumb-active {
	font-weight: bold;
	color:green;
  text-decoration: underline;
}

// .breadcrumb-tab-item :hover {
// 	text-decoration: underline;
// 	color: #da1731;
// }
.breadcrumb-arrow {
	margin: 0 8px;
	color: rgb(17, 2, 2);
}
