
:root {
	--white-color: #ffffff;
	--btn-primary: #886cc0;
	--btn-primary-hover: #6e579b;
	--button-danger: #e74c3c;
	--button-warning: #e98305;
	--button-success: #28a138;
	--button-info: #005aa3;
	--btn-gray: #dde0e4;
	--navyblue-color: #0a5c87;
	--rosewood: #3b0c27;
	--portfolio-choose-heading-whychoose: #041a2f;
	--update-myprofile-background: #459dcb;
	--redeempoint-btn-background: #ef701e;
	--reedempoint-orgbtn-bg: #c14d01;
	--myprofile-border-blue: #d0e9fb;
	--main-content-loginlayout: #daf3ff;
	--myprofile-active: #bf4b00;
	--profile-hr-grey: #e9ecef;
	--myprofile-nextbutton-bg: #095176;
	--myprofile-nextbutton-bg-blue: #4190b9;
	--myprofile-close-button-bg: #eaeaea;
	--formcontainer-questiontext-bgimage: #fbe3d3;
	--formcontainer-myprofile-questiontext: #cfdee7;
	--survey-error-text-red: #d82c0d;
	--input-error-backgroundcolor: #fde7ee;
	--myaccount-avatar-selected: #4caf50;
	--card-black: #00000040;
	--myaccount-avtar-bg: #d9d9d9;
	--delete-myaccount-red: #ac0c0c;
	--dashborad-card-complete: #00000033;
	--dashboard-btn-start-hover: #da681e;
	--card-home-three-contactus: #886cc014;
	--card-home-two-contactus: hsla(201, 86%, 28%, 0.078);
	--card-home: #f3732014;
	--child-container-dropdown-borderbottom: #ddd;
	--text-placeholder-color: #6e6e6e;

	--link-primary: #621ed0;
	--black-color: #000000;
	--btn-primary: #8f74c4;
	--light-black: #0000001a;
	--dark-black: #0000004d;

	--tooltip-danger: #d21c1c;
	--text-color-link: #f37320;

	--light-grey-black: #6e6e6e;
	--hover-gray: #f0f0f0;


	--btn-orange: #f37320;
	--btn--orange-hover: #d8601b;

	--btn-gradient: linear-gradient(to right, #f37320 100%, #0a5c87 100%);

	
	--text-color: #041a2f;
	--para-color: #394960;
	--gray-text: #44475b;
	--card-head-text: #021b33;

	
	--gray-color: #dddee1;
	--card-border: #e2e8f0;

	
	--sidebar-bg: #0a374f;
	--sidebar-logout: #004366;
	--card-fourth-whychoose: #f88e38;
	--search-button-hover-blue: #0056b3;
	--search-button-bg-blue: #007bff;
	--search-input-border: #ccc;
	--navbar-background-home: #cfeeff;
	--navbar-background-home-grey: #ffefe5;
	--total-step-progressbarwrapper: #9da1a5;
	--step-value-progressbarwrapper: #312a2a;
	--progress-webkit-progress-bar: #88888840;
	--nodata-heading-black: #00000099;
	--text-decoration-navbar: #2e4957;
	--copyright-navbar-border: #cacaca;
	--navbar-open-container-white: #fff1e5;
	--new-dropdown-content-white: #f1f1f1;
	--account-button-webkit-scrollbar-thumb: #888;
	--new-dropdown-content-multiselect-bg: #e8e8e8;
	--new-dropdown-content-multiselect-bg-secondary: #f5f5f5;
	--child-container-dropdown-hover: #f0f0f0;

	
	--border-color: #e9e9ea;

	
	--box-shadow: #ff9b44b2;
	--complete-profile: #393939;
	--points-text: #212529;
	--parent-container-dropdownborder: #b4b4b4;
	--chebox-label-grey: #88909a;
	--dash-tablehead: #e9e9ea;
	--dash-btn: #f37320;
	--card-hover: #fff9f5;
	--card-contact-img-redemp: #b02e7a4d;
	--card-title-redemption: #b02e7a;
	--card-contact-img-survey: #886cc04d;
	--card-contact-img-account: #0a5c874d;
	--card-contact-img: #ffebdb;
	--card-link-orange: #ff6600;
	--card-description-home: #333;
	--card-home-four: #b02e7a14;
	--card-home-four-white: #e0e0e0;

	
	--points-table-head: #303030;
	--card-survey-white: #fff4ec;
	--button-orange-bg: #d86f19;
	

	--Secondary-green-dark-color: #437a18;
	--points-table-color: #f9f9f9;
	--selected-option-newdropdown: #353535;
	
	--obredirect-success-green: #01a78c;
	--obredirect-failuremessage-red: #ff5858;
	--obredirect-failure-red: #ee0c0c;
	--green-color: #28a138;
	--failed-red-color: #ea5f5f;
}
