@use '../../../mixins.scss';
.container-newPage{
  height: 4rem;
  border: 1px dashed #D0D2D3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: auto;
  background-color: white;

  @include mixins.bp('xl'){
  
   width: 56.9% ;
}
@include mixins.bp('tablet'){
  
  width: 60%;
}
@include mixins.bp('desktop'){
  
  width: 59% ;
}
@include mixins.bp('mobile'){
  
  width: 65% ;
}
@include mixins.bp('monitor'){
  
  width: 57.6% ;
}
}
.newPage-text{
  font-size: 15px;
  font-weight: 500;
  color:  #6B787F;
  display: flex;
  justify-content: center;
  align-items: center;
 white-space: nowrap;
 
}
.logo-newPage{
  width: 18px;          
  height: 18px;          
  border-radius: 50%;  
  border: 2px solid #6B787F;
  background-color: white;  
  text-align: center;
 
}
 
.logo-color{
  color:#6B787F ;
  font-weight: 500;
}
 
 
.page-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #333;
  z-index: 10;
}

.survey-list {
  display: flex;
  flex-direction: column; // Stack items vertically
  gap: 16px; // Optional: Add space between surveys
}
