.container-newPage{
  height: 4rem;
  border: 1px dashed #D0D2D3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100% !important;

 
}
.newPage-text{
  font-size: 15px;
  font-weight: 500;
  color:  #6B787F;
  display: flex;
  justify-content: center;
  align-items: center;
 white-space: nowrap;
 
}
.container-newPage1{
  width: 100%
}
.logo-newPage{
  width: 18px;          
  height: 18px;          
  border-radius: 50%;  
  border: 2px solid #6B787F;
  background-color: white;  
  text-align: center;
 
}
 
.logo-color{
  color:#6B787F ;
  font-weight: 500;
}
 
 
.page-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #333;
  z-index: 10;
}