.PageTitle{
    background-color: #edeeee;
    width: 600px;
    height: auto;
    margin: auto;
}
.Page-description{
    width:100% ;
    height:100%;
}
.page-description-buttons{
    text-align: right;
}

.Page-description-textarea-{
    width: 100%; 
   
}
.Page-description-textarea-left{
    width: 100%;  
    text-align: left;
}
.Page-description-textarea-right{
    width: 100%;  
    text-align: right;
}
.Page-description-textarea-center{
    width: 100%;  
    text-align: center;
}
.Page-description-textarea-bold{
    width: 100%;  
    font-weight: 600;
}
.Page-description-textarea-italic{
    width: 100%;  
    font-style: italic;
}
.Page-description-textarea-Underline{
    width: 100%;  
    font-style: italic;
}

