.survetTitleContainer{
    position: absolute;
    top: 0px;
    width: 96.5%;
    transition-duration: 3s;
    -webkit-animation-name: slideIn; /* Fade in the background */
    -webkit-animation-duration: 4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.Survey-title{
    background-color:#edeeee;
    padding: 20px;
}

.sub-text{
    margin-top: 10px;
    margin-bottom: 15px;
}

.Alignment-section{
    margin-top: 5px;
}

.Left-Alignment{
    text-align: left;
}

.Center-Alignment{
    text-align: center;
}

@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}