.Survey-title{
    background-color:#edeeee;
    padding: 20px;
}

.sub-text{
    margin-top: 10px;
    margin-bottom: 15px;
}

.Alignment-section{
    margin-top: 5px;
}

.Left-Alignment{
    text-align: left;
}

.Center-Alignment{
    text-align: center;
}