@import '../../mixins.scss';
 
 
.Img-info {
    width: 64px;
    height: 64px;
    border-radius: 10px;
 
}
 
.Card_info {
    color: rgb(51, 62, 72);
    width: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    height: 100%;
    display: inline-flex;
    padding: 24px;
    overflow: hidden;
    font-size: 16px;
    box-shadow: rgb(237, 238, 238) 0px 0px 0px 2px;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    align-items: stretch;
    border-radius: 24px;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
 
 
}
 
.Card_info:hover {
    box-shadow: rgb(0, 0, 0, 0.14), 0px, 2px, 8px;
    border-color: transparent;
}
 
.Card-img {
    width: 100%;
    text-align: left;
    margin-bottom: 24px;
}
 
.Card-heading {
    margin-bottom: 24px;
}
 
.Card-description {
    margin: auto, 0;
 
}
 