@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../variables/Variable.scss');
@import '../../mixins.scss';

.chebox-label {
	color: var(--chebox-label-grey);
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;
	font-family: Poppins;
	@include bp('mobile') {
		font-size: 11px;
		text-align: start;
		width: 84%;
	}

	@include bp('tablet') {
		width: 81%;
	}
}

.label-check {
	display: flex;
	gap: 7px;
	margin-top: 1rem;
	align-items: center;
	justify-content: center;
	@include bp('tablet') {
		padding-left: 0px;
		width: 120%;
		margin-left: -2rem;
	}
	
}
