@import url('../../blocks/variables/Variable.scss');
@import '../../mixins.scss';

.card-survey {
	height: 85px;
	border-radius: 8px;
	border-top: 1px solid rgb(248, 142, 56, 0.3);
	border-right: 1px solid rgb(10, 92, 135, 0.3);
	border-bottom: 1px solid rgb(10, 92, 135, 0.3);
	border-left: 1px solid rgb(243, 115, 32, 0.3);
	background-image: linear-gradient(to bottom right, var(--white-color), var(--card-survey-white));
	padding: 16px;
	margin: 5px;
	box-shadow: 1px 1px 1px 0px var(--card-black);

	@include bp('xl') {
		width: 20%;
	}
	@include bp('monitor') {
		width: 19.5%;
	}
	@include bp('desktop') {
		width: 25%;
	}
	@include bp('tablet') {
		width: 80%;
	}
}

.card-survey {
	@media (min-width: 1800px) and (max-width: 2100px) {
		width: 20.5%;
	}
	@media (min-width: 2100px) and (max-width: 2560px) {
		width: 21%;
	}
	@media (min-width: 2560px) and (max-width: 2800px) {
		width: 22%;
	}
}

.firstelement {
	width: 100%;
	height: 22px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.loi-clock {
	display: flex;
	gap: 7px;
	align-items: center;
}
.surveystart-btn {
	width: 80px;
	height: 27px;
	border-radius: 4px;
	padding-inline: 12px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: none;
	@include bp('mobile') {
		font-weight: 500 !important;
	}
}
.loi-time {
	font-weight: 400;
	font-size: 13px;
	line-height: 15.6px;
	color: var(--navyblue-color);

	@include bp('tablet') {
		font-size: 12px;
	}
}
.survey-points {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: var(--points-table-head);
}
.survey-id {
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px;
	background: linear-gradient(to right, var(--text-color-link), var(--text-color-link), var(--navyblue-color), var(--navyblue-color));
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	@include bp('tablet') {
		font-size: 12px;
	}
}

.secondelement {
	width: 100%;
	height: 27px;
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 5px;
	justify-content: space-between;

	@include bp('desktop') {
		gap: 25px;
	}
	@include bp('tablet') {
		gap: 23px;
	}
}
.secondelement-subpart {
	display: flex;
	align-items: center;
}

.thirdelement {
	width: 100%;
	height: 27px;
	display: flex;
	gap: 51px;
	align-items: center;
	justify-content: end;
	margin-bottom: 5px;
	@include bp('tablet') {
		gap: 30px;
	}
}
.vector-grid {
	display: flex;
	gap: 10px;
	@include bp('tablet') {
		gap: 5px;
	}
}
