@import '../../mixins.scss';

.edit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    height: 100%;
    justify-content: center;
    @include bp('desktop') {
        grid-template-columns: repeat(3, 1fr); 

	}
    @include bp('tablet') {
        grid-template-columns: repeat(2, 1fr); 
	}
    @include bp('mobile') {
        grid-template-columns: repeat(1, 1fr); 
	}
}
