@use '../../mixins.scss';

.edit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    height: 100%;
    justify-content: center;
    @include mixins.bp('desktop') {
        grid-template-columns: repeat(3, 1fr); 

	}
    @include mixins.bp('tablet') {
        grid-template-columns: repeat(2, 1fr); 
	}
    @include mixins.bp('mobile') {
        grid-template-columns: repeat(1, 1fr); 
	}
}

.pagination-container{
    display: flex;
    gap: 20px; 
    padding: 10px;
    margin: 0 auto; 
    justify-content: center;
}