@import '../../mixins.scss';

@mixin grid($columns) {
	column-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(#{$columns}, 1fr);

	@include bp('monitor') {
		display: grid;
		grid-template-columns: repeat(#{$columns}, 1fr);
	}

	@include bp('desktop') {
		display: grid;
		grid-template-columns: repeat(#{$columns}, 1fr);
	}

	@include bp('tablet') {
		display: grid;
		grid-template-columns: repeat(#{$columns}, 1fr);
	}

	@include bp('mobile') {
		display: grid;
		grid-template-columns: repeat(#{$columns}, 1fr);
	}
}

@for $i from 1 through 12 {
	.grid-#{$i} {
		@include grid($i);
	}
}

.grid-container {
	grid-template-columns: auto auto;
}

.grid-7 {
	flex: 7;
}

.grid-3 {
	flex: 3;
}
