.input-field-dropdown {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: url('../../assets/common-img/dropdownarrowimg.svg'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 20px 10px; 
  

    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 12px;
    width: 100%;
    height: 100%;
    
    &:focus {
      border-color: #886cc0; 
      outline: none; 
    }
  }
  